{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.sass",
          "*.scss",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts",
          "/_maket",
          "/_css",
          "/_js",
          "/html",
          ".gitignore",
          "README.md",
          "_js",
          "_css",
          "html",
          "_maket",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/roleva-yurina.mymv.ru/transformation-of-victim",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".htaccess",
          "mtimeMs": 1566061504493.6138,
          "ctimeMs": 1566061504493.6138,
          "date": "2020-03-27T17:01:09.944Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1585368317679.166,
          "ctimeMs": 1585368317679.166,
          "date": "2020-03-28T04:05:29.962Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1576329509903.4392,
          "date": "2020-03-27T17:01:10.277Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1576329509905.4392,
          "date": "2020-03-27T17:01:10.595Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1573230041970.5642,
          "ctimeMs": 1573230041970.5642,
          "date": "2020-03-27T17:01:35.475Z"
        },
        {
          "file": "fonts/Gabriola.eot",
          "mtimeMs": 1552448576000,
          "ctimeMs": 1552466751142.8042,
          "date": "2020-03-27T17:01:13.019Z"
        },
        {
          "file": "fonts/Gabriola.otf",
          "mtimeMs": 1552448568000,
          "ctimeMs": 1552466751187.8337,
          "date": "2020-03-27T17:01:14.650Z"
        },
        {
          "file": "fonts/Gabriola.svg",
          "mtimeMs": 1552448564000,
          "ctimeMs": 1552466751255.0068,
          "date": "2020-03-27T17:01:17.375Z"
        },
        {
          "file": "fonts/Gabriola.ttf",
          "mtimeMs": 1552448564000,
          "ctimeMs": 1552466751488.5747,
          "date": "2020-03-27T17:01:19.094Z"
        },
        {
          "file": "fonts/Gabriola.woff",
          "mtimeMs": 1552448562000,
          "ctimeMs": 1552466751500.5828,
          "date": "2020-03-27T17:01:20.252Z"
        },
        {
          "file": "fonts/Gabriola.woff2",
          "mtimeMs": 1552448576000,
          "ctimeMs": 1552466751509.5889,
          "date": "2020-03-27T17:01:20.893Z"
        },
        {
          "file": "fonts/Roboto.eot",
          "mtimeMs": 1550719202000,
          "ctimeMs": 1550737315300.875,
          "date": "2020-03-27T17:01:21.836Z"
        },
        {
          "file": "fonts/Roboto.svg",
          "mtimeMs": 1550719202000,
          "ctimeMs": 1550737315262.849,
          "date": "2020-03-27T17:01:22.921Z"
        },
        {
          "file": "fonts/Roboto.ttf",
          "mtimeMs": 1550719202000,
          "ctimeMs": 1550737315207.8125,
          "date": "2020-03-27T17:01:23.697Z"
        },
        {
          "file": "fonts/Roboto.woff",
          "mtimeMs": 1550719202000,
          "ctimeMs": 1550737315290.8674,
          "date": "2020-03-27T17:01:24.237Z"
        },
        {
          "file": "fonts/Roboto.woff2",
          "mtimeMs": 1550719202000,
          "ctimeMs": 1550737315310.8806,
          "date": "2020-03-27T17:01:24.710Z"
        },
        {
          "file": "fonts/RobotoBlack.eot",
          "mtimeMs": 1550719224000,
          "ctimeMs": 1550737342472.3823,
          "date": "2020-03-27T17:01:25.362Z"
        },
        {
          "file": "fonts/RobotoBlack.svg",
          "mtimeMs": 1550719224000,
          "ctimeMs": 1550737342441.3596,
          "date": "2020-03-27T17:01:26.132Z"
        },
        {
          "file": "fonts/RobotoBlack.ttf",
          "mtimeMs": 1550719224000,
          "ctimeMs": 1550737342430.354,
          "date": "2020-03-27T17:01:26.641Z"
        },
        {
          "file": "fonts/RobotoBlack.woff",
          "mtimeMs": 1550719224000,
          "ctimeMs": 1550737342463.3762,
          "date": "2020-03-27T17:01:27.284Z"
        },
        {
          "file": "fonts/RobotoBlack.woff2",
          "mtimeMs": 1550719226000,
          "ctimeMs": 1550737342479.386,
          "date": "2020-03-27T17:01:27.718Z"
        },
        {
          "file": "fonts/RobotoLight.eot",
          "mtimeMs": 1550719246000,
          "ctimeMs": 1550737285753.9846,
          "date": "2020-03-27T17:01:31.441Z"
        },
        {
          "file": "fonts/RobotoLight.svg",
          "mtimeMs": 1550719246000,
          "ctimeMs": 1550737285722.7314,
          "date": "2020-03-27T17:01:33.156Z"
        },
        {
          "file": "fonts/RobotoLight.ttf",
          "mtimeMs": 1550719246000,
          "ctimeMs": 1550737285707.106,
          "date": "2020-03-27T17:01:33.955Z"
        },
        {
          "file": "fonts/RobotoLight.woff",
          "mtimeMs": 1550719246000,
          "ctimeMs": 1550737285753.9846,
          "date": "2020-03-27T17:01:34.700Z"
        },
        {
          "file": "fonts/RobotoLight.woff2",
          "mtimeMs": 1550719246000,
          "ctimeMs": 1550737285769.613,
          "date": "2020-03-27T17:01:35.121Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1585328136295.3142,
          "ctimeMs": 1585328136295.3142,
          "date": "2020-03-27T17:01:10.996Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1585327560944.4177,
          "ctimeMs": 1585327560944.4177,
          "date": "2020-03-27T17:01:37.619Z"
        },
        {
          "file": "oferta/oferta.doc",
          "mtimeMs": 1569683882052.8857,
          "ctimeMs": 1569683882052.8857,
          "date": "2020-03-27T17:01:38.132Z"
        },
        {
          "file": "fonts/RobotoBold.eot",
          "mtimeMs": 1550719236000,
          "ctimeMs": 1550737271400.467,
          "date": "2020-03-27T17:01:28.244Z"
        },
        {
          "file": "fonts/RobotoBold.svg",
          "mtimeMs": 1550719234000,
          "ctimeMs": 1550737271306.711,
          "date": "2020-03-27T17:01:29.380Z"
        },
        {
          "file": "fonts/RobotoBold.ttf",
          "mtimeMs": 1550719234000,
          "ctimeMs": 1550737271291.082,
          "date": "2020-03-27T17:01:29.883Z"
        },
        {
          "file": "fonts/RobotoBold.woff",
          "mtimeMs": 1550719236000,
          "ctimeMs": 1550737271400.467,
          "date": "2020-03-27T17:01:30.385Z"
        },
        {
          "file": "fonts/RobotoBold.woff2",
          "mtimeMs": 1550719236000,
          "ctimeMs": 1550737271431.724,
          "date": "2020-03-27T17:01:30.837Z"
        },
        {
          "file": "img/main_bg.jpg",
          "mtimeMs": 1569686887614.1663,
          "ctimeMs": 1569686887614.1663,
          "date": "2020-03-27T17:01:36.095Z"
        },
        {
          "file": "img/prices_bg.jpg",
          "mtimeMs": 1569689144056.9001,
          "ctimeMs": 1569689144056.9001,
          "date": "2020-03-27T17:01:36.675Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1585367669314.1702,
          "ctimeMs": 1585367669314.1702,
          "date": "2020-03-28T03:54:33.847Z"
        },
        {
          "file": "distributive/index.php",
          "mtimeMs": 1570101892696.3154,
          "ctimeMs": 1570101892696.3154,
          "date": "2020-03-27T17:01:12.153Z"
        },
        {
          "file": "img/technics-bg.jpg",
          "mtimeMs": 1585328426990.422,
          "ctimeMs": 1585328426990.422,
          "date": "2020-03-27T17:01:37.153Z"
        },
        {
          "file": "img/get-img-1.png",
          "mtimeMs": 1585329066666.0127,
          "ctimeMs": 1585329066669.0144,
          "date": "2020-03-27T17:11:18.061Z"
        },
        {
          "file": "img/get-img-2.png",
          "mtimeMs": 1585329074019.0437,
          "ctimeMs": 1585329074026.0486,
          "date": "2020-03-27T17:11:18.374Z"
        },
        {
          "file": "img/get-img-3.png",
          "mtimeMs": 1585367429162.8247,
          "ctimeMs": 1585367429162.8247,
          "date": "2020-03-28T03:51:19.784Z"
        },
        {
          "file": "img/get-img-4.png",
          "mtimeMs": 1585367418680.2832,
          "ctimeMs": 1585367418682.2854,
          "date": "2020-03-28T03:51:20.116Z"
        },
        {
          "file": "img/get-img-5.png",
          "mtimeMs": 1585367423541.9868,
          "ctimeMs": 1585367423542.9878,
          "date": "2020-03-28T03:51:20.420Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 25 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "img/get-img-1.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 40366,
          "optimized": true
        }
      },
      {
        "file": "img/get-img-2.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 39294,
          "optimized": true
        }
      },
      {
        "file": "img/get-img-3.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 47724,
          "optimized": true
        }
      },
      {
        "file": "img/get-img-4.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 36602,
          "optimized": true
        }
      },
      {
        "file": "img/get-img-5.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 37914,
          "optimized": true
        }
      },
      {
        "file": "img/technics-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 188659,
          "optimized": true
        }
      },
      {
        "file": "js/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/scripts.min.js"
        }
      }
    ]
  }
}
