section#main
	.container
		include 0.header.pug
		p.pre Запись мастер-класса внизу страницы
	.title-container
		.container
			h1.main-title= head_title
			h2.main-subtitle Как 
				span перестать страдать 
				| и 
				span стать автором 
				| своей жизни
	.container
		p.main-info Старт курса: 
			span 9 октября
		p.main-info Авторы: 
			span Анна Ролева и Вероника Юрина
		a.button.button-main(href="#prices") Купить