section#main
	.container
		include 0.header.pug
		p.pre Запись мастер-класса внизу страницы
		h1.main-title= head_title
		p.main-info Старт курса: 
			span 9 октября
		p.main-info Авторы: 
			span Анна Ролева и Вероника Юрина
		a.button.button-main(href="#prices") Купить