mixin lesson(cl, num, p)
	.col-md-3.col-sm-6
		.lesson(class= cl)
			h4.lesson-title День
				span= num
			p.lesson-text= p

section#plan
	.container
		+gt('','Программа курса:')
		.row
			+lesson('lesson-1', '1', 'Все тайны о жертве. Теоретический урок, где мы структурируем все знания о состоянии жертвы, досконально изучаем механизм ее возникновения и особенности проявления')
			+lesson('lesson-2', '2', 'Практика. Собираем персональный “профиль жертвы” и учимся отслеживать жертву в повседневности. Составляем свой дневник жертвы и осваиваем базовые трансформационные технологии')
			+lesson('lesson-3', '3', 'Сценарии. Прорабатываем программы, принципы и установки, заложенные в нас в раннем детстве, которые питают нашу жертву')
			+lesson('lesson-4', '4', 'Прорыв! Разбираем для чего в нашу жизнь приходят кризисы. Изучаем технологию по выходу из кризиса. Готовим персональный антикризисный скрипт. Изучаем роль хозяина жизни. Становимся авторами своей судьбы и обретаем эмоциональную свободу!')