mixin lesson(cl, num, p)
	.col-md-3.col-sm-6
		.lesson(class= cl)
			h4.lesson-title День
				span= num
			p.lesson-text= p

section#plan
	.container
		p.plan-text
			span Цель курса: 
			| дать всем участникам практические инструменты обретения эмоциональной свободы и навыки трансформации состояния жертвы. В ходе курса слушатели научатся обнаруживать и прорабатывать все сценарии, программы, принципы и установки, питающие сценарий жертвы, и вернут себе авторство своей жизни
		+gt('','Программа курса:')
		.row
			+lesson('lesson-1', '1', 'Все тайны о жертве. Теоретический урок, где мы структурируем все знания о состоянии жертвы, досконально изучаем механизм ее возникновения и особенности проявления')
			+lesson('lesson-2', '2', 'Практика. Собираем персональный “профиль жертвы” и учимся отслеживать жертву в повседневности. Составляем свой дневник жертвы и осваиваем базовые трансформационные технологи')
			+lesson('lesson-3', '3', 'Сценарии. Прорабатываем программы, принципы и установки, заложенные в нас в раннем детстве, которые питают нашу жертву')
			+lesson('lesson-4', '4', 'Прорыв! Разбираем для чего в нашу жизнь приходят кризисы. Изучаем технологию по выходу из кризиса. Готовим персональный антикризисный скрипт. Изучаем роль хозяина жизни. Становимся авторами своей судьбы и обретаем эмоциональную свободу!')
		p.plan-bonus 
			span Бонус: 
			| Двухчасовый тренинг по копингу “Вторичные выгоды и технологии работы с сопротивлением”