section#technics
	.container
		+gt('','Техники, которые будут использованы на курсе:')
		.technics
			.row
				.col-md-6.col-sm-6
					ul.technics-list
						li
							span Техника “Словарь жертвы” 
							| - составление своего персонального набора мыслей и фраз, вербально фиксирующих состояние жертвы
						li
							span Техника “Хозяин жизни” 
							| - практическое упражнение, которое быстро способно вернуть нам роль автора своей жизни
						li
							span Техника “Самый страшный сценарий” 
							| - техника, которая с помощью погружения и проживания достает и прорабатывает через проживание бессознательные страхи. Техника освобождает от зацепок и привязанности к результату
						li
							span Антикризисная техника “Феникс” 
							| - быстрый пошаговый алгоритм выхода из кризиса
						li
							span “Трансформация жертвы” 
							| - техника как научиться превращать проблемы в результаты и навсегда избавиться от эмоционального груза
				.col-md-6.col-sm-6
					ul.technics-list
						li
							span Экспресс-скрипт выхода из жертвы
						li
							span Техника “Кормление демонов” - 
							| превращает негативные эмоциональные проявления в чистый ресурс творчества и созидания
						li
							span Технология “Проработка сценариев жертвы” 
							| - помогает найти и перекодировать сценарии, зашитые в нас в раннем детстве
						li
							span Техника “Выпаривание жертвы” 
							| - технология по работе с жертвой из генных ключей
						li
							span Техника “Антистресс” 
							| - как быстро освободиться от напряжения и вернуться в ресурсное состояние
						li
							span Техника “Рефрейминг” 
							| - с помощью этой техники мы можем научиться превращать проблему в ресурс с помощью изменения восприятия ситуации
		a.button.button-technics(href="#prices") Купить