section#get
	.container
		+gt('','После прохождения курса Вы:')
		ul.get-list
			li научитесь самостоятельно выходить из состояния жертвы,
			li проработаете чувство беспомощности, мешающее действовать и добиваться выдающихся результатов в жизни,
			li освоите роль хозяина жизни и заложите надежный фундамент для обретения эмоциональной свободы
		p.get-text
			span А если вы психолог или консультант, 
			| то Вы освоите специальную технологию по работе с жертвой, которую сможете использовать при работе со своими клиентами
		p.get-text
			span Также практикующие тренеры 
			| смогут после прохождения курса самостоятельно проводить тренинги и мастер-классы по работе с жертвой - одной из самых популярных тем в психологии