section#get
	.container
		+gt('','После прохождения курса Вы:')
		.row
			.col-md-4.col-sm-4
				.get-item.get-item-1
					p.get-item-text научитесь самостоятельно выходить из состояния жертвы
			.col-md-4.col-sm-4
				.get-item.get-item-2
					p.get-item-text проработаете чувство беспомощности, мешающее действовать и добиваться выдающихся результатов в жизни
			.col-md-4.col-sm-4
				.get-item.get-item-3
					p.get-item-text освоите роль хозяина жизни и заложите надежный фундамент для обретения эмоциональной свободы
		.row
			.col-md-4.col-sm-4.col-md-offset-2.col-sm-offset-2
				.get-item.get-item-4
					p.get-item-text
						span Психологи и консультанты 
						| освоят специальную технологию по работе с жертвой, которую смогут использовать, работая со своими клиентами
			.col-md-4.col-sm-4
				.get-item.get-item-5
					p.get-item-text
						span Также практикующие тренеры 
						| после прохождения курса самостоятельно проводить тренинги и мастер-классы по работе с жертвой - одной из самых популярных тем в психологии