footer
	.container
		h5 Хотите узнать больше? Вступайте в наши группы!
		.soc-buttons
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="https://vk.com/mv_akademia" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
			.clfix
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		a#conditions(href= oferta download) Условия возврата денежных средствa
.modal.fade(tabindex="-1" role="dialog")#lessons
	.modal-dialog(role="document")
		.modal-content.my-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3.modal-title Программа курса:
					h4.modal-subtitle Урок1
					p.modal-text Все тайны о жертве. Теоретический урок, где мы структурируем все знания о состоянии жертвы, досконально изучаем механизм ее возникновения и особенности проявления
					h4.modal-subtitle Урок2
					p.modal-text Практика. Собираем персональный “профиль жертвы” и учимся отслеживать жертву в повседневности. Составляем свой дневник жертвы и осваиваем базовые трансформационные технологии
					h4.modal-subtitle Урок3
					p.modal-text Сценарии. Прорабатываем программы, принципы и установки, заложенные в нас в раннем детстве, которые питают нашу жертву
					h4.modal-subtitle Урок4
					p.modal-text Прорыв! Разбираем для чего в нашу жизнь приходят кризисы. Изучаем технологию по выходу из кризиса. Готовим персональный антикризисный скрипт. Изучаем роль хозяина жизни. Становимся авторами своей судьбы и обретаем эмоциональную свободу!