header
	overflow hidden
	padding 15px 0
	margin-bottom: 50px
#logo
	display block
	float left
	width 100px
	height 44px
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
	line-height: 42px
.contact
	color #fff
	line-height: 17px
	font-size: 16px
	font-family: RoL
	display: inline-block
	.fa
		color: bl
		font-size: 18px
		margin 0 10px 0 20px
	&:focus
		text-decoration: none
		color #fff
	&:hover
		text-decoration: underline
		color #fff