#plan
	padding 50px 0
.plan-text
	text-align: center
	font-size: 20px
	margin-bottom: 50px
	span
		font-size: 22px
		font-family: RoBo
		color #62d6f0
.lesson
	border-radius: 5px
	border: 1px solid rgba(mBl,.8)
	padding 30px 15px 20px
	text-align: center
	width 100%
	max-width 280px
	margin 40px auto 0
	min-height 390px
	&-title
		position relative
		font-size: 40px
		font-family: Ga
		font-weight: bold
		color: bl
		margin-bottom: 5px
		span
			position: absolute
			border-radius: 50px
			background-color: mBl
			color: #fff
			top -60px
			left 0
			right 0
			margin 0 auto
			transform: rotate(15deg)
			width 60px
			line-height: 60px
	&-text
		font-family: RoL
.plan-bonus
	font-family: Ga
	font-size: 38px
	color #62d6f0
	text-align: center
	margin-top: 40px
	line-height: 1.1
	font-weight: bold
	span
		display block