#get
	padding 50px 0 10px
.get-item
	width 100%
	max-width 380px
	margin 0 auto 40px
	padding 170px 20px 0
	background-repeat no-repeat
	background-position: top center
	&-1
		background-image url(../img/get-img-1.png)
	&-2
		background-image url(../img/get-img-2.png)
	&-3
		background-image url(../img/get-img-3.png)
	&-4
		background-image url(../img/get-img-4.png)
	&-5
		background-image url(../img/get-img-5.png)
.get-item-text
	text-align: center
	margin-top: 15px
	// font-size: 20px
	span
		font-family: RoBo
		color bl
		display block
		font-size: 22px