#record
	padding 60px 0
.video-wrapper-rec
	max-width 650px
.rec-text
	width 100%
	max-width 650px
	margin 10px auto 0
.general-title-feedback 
	margin 60px 0 40px
.text-sale
	text-align: center
	margin-bottom: 20px
#vk
#fb
	overflow hidden