footer
	background: #242933
	position relative
	padding: 20px 0
	text-align: center
footer
	h5
		font-size: 22px;
		font-family: RoBo
		color: rgb(255, 255, 255);
	p
	#conditions
		font-size: 14px;
		font-family: RoL
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	p
		width 100%
		max-width 765px
		margin 0 auto
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color bl
			color #1C2430
			line-height 28px
			border-radius: 3px
			&:hover
				opacity .8
.modal-backdrop
	opacity .9
.modal-dialog
	width 800px
.my-modal-content
	background-color: rgba(0,0,0,.85)
	border: 1px solid mBl
	border-radius: 5px
	// opacity .9
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .3s ease
	&:hover
		opacity .8
		transform:  translateY(-2px)
.modal-title
	width 84%
	font-family: RoB
	font-size: 24px
	margin-bottom: 20px
	color bl
.modal-subtitle
	font-size: 20px
	color: mBl
	font-family: RoBo
	margin-top: 20px
.modal-text
	margin-top: 15px
	color #fff