@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.lesson
		min-height 421px
	.get-list
		max-width 650px
	.packet-body
		min-height 182px
@media screen and (max-width 1199px)
	.lesson
		min-height 485px
@media screen and (max-width 991px)
	#logo
		float: none
		margin 0 auto 5px
	.contacts
		text-align: center
		float: none
	.lesson
		min-height 385px
	.modal-dialog
		width 600px
@media screen and (max-width 767px)
	.lesson
	.packet-body
		min-height 1px
	#vk
		margin-bottom 25px
	.modal-dialog
		margin: 10px auto
		width 96%
@media screen and (max-width 485px)
	header
		padding 15px 0
		margin-bottom: 10px
	#logo
		width 160px
		height 15px
	.contact
		font-size: 12px
		margin 5px 5px 0
		.fa
			font-size: 14px
			margin 0 3px 0 5px
	.title-container
		padding 15px 0 20px
		margin: 20px 0
	.main-title
		font-size: 48px
		line-height: 38px
	.main-subtitle
		font-size: 24px
	.button-main
		margin-top: 20px
	#main
		padding 0 0 30px
	#plan
	#prices
	#record
		padding 30px 0
	.general-title
		font-size: 28px
	.get-list
		margin-bottom: 30px
	#get
		padding 0 0 30px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 30px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.timer-title
		margin 30px 0 10px
		font-size: 24px
	.general-title-feedback
		margin 30px 0
	footer
		padding 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	footer #conditions, footer p
		font-size: 12px
@media screen and (max-width 385px)
	.title-container
		margin 10px 0 15px
	.main-title
		font-size: 38px
		line-height: 30px
	.main-subtitle
		font-size: 20px
	.main-info
		font-size: 20px
		margin-bottom: 10px
		span
			font-size: 22px
	.general-title
		font-size: 24px
		margin-bottom: 25px
	.lesson
		padding 25px 10px 15px
	.lesson-title
		font-size: 36px
		margin-bottom: 0
	.packet
		padding 15px
		&-body
			padding 15px 0
		&-footer
			padding 15px 0 5px
	.modal-title
		font-size: 22px
		margin-bottom: 15px
	.modal-subtitle
		font-size: 18px
		margin-top: 15px
	.modal-text
		margin-top: 10px
	.cost
		margin-bottom: 10px
		font-size: 20px
		span
			font-size: 26px
	.prepayment-title
		font-size: 40px
		line-height: 38px
		margin-top: 0