.general-title
.cost span
.modal-title
	font-weight: 900
.button
.main-info span
.get-text span
.timer-title
footer h5
.modal-subtitle
	font-weight: bold
.main-title
.lesson-title
.packet-head-title
.prepayment-title
	font-weight: 900
	font-style: italic
.packet-head-title small
	font-weight: 100
	font-style: normal